extends layout

block content
	.container
		.jumbotron
			.container
				h1 How may I assist you?
				p kjbfwebf webfiu ebfiue bfiuweb fiuwe bfiuwe fbweiuf bewiuf ewiufb weiuf weiufb uweibf weiubfewiubf euwibf weiu fweuifbwe.
				a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
		.container
			.row
				.col-md-4
					h2 About Us
					p kjbkb ubiub iub iub iub iu biub  ubiububobu cytcyit  ytdyitc ytd rd ytyr dtrdvu ubybivtt 
					a.btn.btn-default(href='#') View Deatails
				.col-md-4
					h2 Setting
					p kjbkb ubiub iub iub iub iu biub  ubiububobu cytcyit  ytdyitc ytd rd ytyr dtrdvu ubybivtt 
					a.btn.btn-default(href='#') View Deatails
				.col-md-4
					h2 Profile
					p kjbkb ubiub iub iub iub iu biub  ubiububobu cytcyit  ytdyitc ytd rd ytyr dtrdvu ubybivtt 
					a.btn.btn-default(href='#') View Deatails

